{% extends 'base.html.twig' %}

{% block title 'Gérer les évenement' %}

{% block body %}
	<div class="container mt-4">
		<h1>Gérer les évenements</h1>

		<!-- condition pour afficher message addFlash -->
		{% for message in app.flashes('success')%}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>NOM</th>
					<th>Description courte</th>
					<th>Description longue</th>
					<th>Reférence fournisseur</th>
					<th>Prix</th>
					<th>Date de lancement</th>
					<th>Date de fin</th>
					<th>Nombre de places</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
					<tr>
						<td>{{ event.nameEvent }}</td>
						<td>{{ event.shortDescriptionEvent }}</td>
						<td>{{ event.longDescriptionEvent }}</td>
						<td>{{ event.refProviderEvent }}</td>
						<td>{{ event.purchasePriceEvent }}</td>
						<td>{{ event.startDateEvent ? event.startDateEvent|date('Y-m-d') : '' }}</td>
						<td>{{ event.endDateEvent ? event.endDateEvent|date('Y-m-d') : '' }}</td>
						<td>{{ event.festivalPlaceEvent }}</td>
						<td>
							<a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-pink">VOIR</a>
							<a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-unique">MODIFIER</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		<div class="text-right">
			<a href="{{ path('event_new')}}" class="btn btn-primary">
				Créer un nouvel évenement</a>
		</div>
	{% endblock %}
