{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_event</th>
                <th>Short_description_event</th>
                <th>Long_description_event</th>
                <th>Ref_provider_event</th>
                <th>Purchase_price_event</th>
                <th>Start_date_event</th>
                <th>End_date_event</th>
                <th>Festival_place_event</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nameEvent }}</td>
                <td>{{ event.shortDescriptionEvent }}</td>
                <td>{{ event.longDescriptionEvent }}</td>
                <td>{{ event.refProviderEvent }}</td>
                <td>{{ event.purchasePriceEvent }}</td>
                <td>{{ event.startDateEvent ? event.startDateEvent|date('Y-m-d') : '' }}</td>
                <td>{{ event.endDateEvent ? event.endDateEvent|date('Y-m-d') : '' }}</td>
                <td>{{ event.festivalPlaceEvent }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
