{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <image id="panier" class="featurette-image img-fluid mx-auto" alt="petite image" src="{{ asset('assets/img/admission.jpg') }}" data-holder-rendered="true">

    <table class="table">
        <tbody>
            <tr>
                <th></th>
                <td  id="nomConcert">{{ event.nameEvent }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ event.shortDescriptionEvent }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ event.longDescriptionEvent }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ event.purchasePriceEvent }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ event.startDateEvent ? event.startDateEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ event.endDateEvent ? event.endDateEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ event.festivalPlaceEvent }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('event_index') }}">Retour</a>
{% endblock %}
