{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1 id="hautPage">Evénement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ event.nameEvent }}</td>
            </tr>
            <tr>
                <th>Description courte</th>
                <td>{{ event.shortDescriptionEvent }}</td>
            </tr>
            <tr>
                <th>Description longue</th>
                <td>{{ event.longDescriptionEvent }}</td>
            </tr>
            <tr>
                <th>Référence fournisseur</th>
                <td>{{ event.refProviderEvent }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ event.purchasePriceEvent }}</td>
            </tr>
            <tr>
                <th>Début évenement</th>
                <td>{{ event.startDateEvent ? event.startDateEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Début évenement</th>
                <td>{{ event.endDateEvent ? event.endDateEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de place</th>
                <td>{{ event.festivalPlaceEvent }}</td>
            </tr>

        </tbody>
    <button type="button" class="btn btn-pink btn-rounded">
    <a href="{{ path('event_index') }}" class="text-muted">Retour</a>
    </button>
    <button type="button" class="btn btn-pink btn-roundedt">
    <a href="{{ path('event_edit', {'id': event.id})}}" class="text-muted">Modifier</a>
    </button>
    </table>
    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
