{% extends 'base.html.twig' %}

{% block title 'MerrymakingTickets' %}

{% block body %}
	<div class="container">
		<h2>
			Nos artistes
			<h2>
				<div class="row flex">
					{% for users in users %}
						<div class="col-3">
							<div class="card">
								<h5 class="card-title">
									<a href="{{ path('users.show', {id: users.id, slug: users.slug}) }}">
										{{users.name_users}}
										{{users.firstname_users}}</a>
								</h5>
								<p class="card-text">{{users.phone_number_users}}</p>
								<div class="text-primary">{{users.mail}}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
