{% extends 'base.html.twig' %}

{% block title 'Gérer les utilisateurs' %}

{% block body %}
	<div class="container mt-4">
		<h1 id="hautPage">Gérer les utilisateurs</h1>

		<!-- condition pour afficher message addFlash -->
		{% for message in app.flashes('success')%}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.nameUsers }}
							{{ user.firstnameUsers }}
						</td>
						<td>
							<a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-secondary">Editer</a>
							<form
								method="post" action="{{ path('admin.users.delete', {id: user.id})}}" style="display: inline-block" onsubmit="return confirm('Voulez-vous vraiment supprimer cette utilisateur?')">
								<!-- Champs caché de type hidden -->
								<input
								type="hidden" name="_method" value="DELETE">
								<!-- champ qui permet de sécurisé le formulaire de suppression avec un token -->
								<input type="hidden" name="_token" value="{{ csrf_token('user_delete' ~ user.id)}}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
							<!-- champs caché -->
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('user_new')}}" class="btn btn-primary">
				Créer un nouvel utilisateur</a>

		</div>

	{% endblock %}
